<h1>A Tree of Eden</h1>
<h5>Logged in as Rilla</h5>
<div class="flex flex-row functions-tab margin-left-one-third">
    <button>Home</button>
    <button>Active Sprint</button>
    <button>Create a new task</button>
    <button>Team Tree</button>
    <button>Decision Council</button>
    <button>Prayer Meeting</button>
    <button>Focus Dungeon Party</button>
    <button>Co-op Mode</button>
</div>
<br>
<div class="flex flex-column one-sixth-width margin-left-one-fourth participants-tab">
    <button>Rilla</button>
    <button>Pippin</button>
    <button>Jonathan</button>
</div>
<!--Active Tab-->
<router-outlet></router-outlet>