/* You can add global styles to this file, and also import other style files */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.one-third-width {
    width: 33vw;
}

.one-sixth-width {
    width: 16vw;
}